---
http_interactions:
- request:
    method: post
    uri: https://api.smartling.com/auth-api/v2/authenticate
    body:
      encoding: UTF-8
      string: '{"userIdentifier":"no","userSecret":"way"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - api-gateway:aws,redis:8443
      - authentication:aws:8443
      X-Sl-Requestid:
      - 06cd3429-03ac-435e-87bd-b73f739bd639
    body:
      encoding: UTF-8
      string: '{"response":{"code":"VALIDATION_ERROR","errors":[{"key":null,"message":"HTTP
        401 Unauthorized","details":null}]}}'
  recorded_at: Fri, 13 Apr 2018 15:17:36 GMT
recorded_with: VCR 4.0.0
